USE [master]
GO
/****** Object:  Database [C:\USERS\FAISA\ONEDRIVE\DOCUMENTS\CARRENTALDB.MDF]    Script Date: 5/17/2026 12:58:13 AM ******/
CREATE DATABASE [C:\USERS\FAISA\ONEDRIVE\DOCUMENTS\CARRENTALDB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarRentaldb', FILENAME = N'C:\Users\faisa\OneDrive\Documents\CarRentaldb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarRentaldb_log', FILENAME = N'C:\Users\faisa\OneDrive\Documents\CarRentaldb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\FAISA\ONEDRIVE\DOCUMENTS\CARRENTALDB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\FAISA\ONEDRIVE\DOCUMENTS\CARRENTALDB.MDF]
GO
/****** Object:  Table [dbo].[CarTb1]    Script Date: 5/17/2026 12:58:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarTb1](
	[RegNum] [varchar](50) NOT NULL,
	[Brand] [varchar](50) NOT NULL,
	[Model] [varchar](50) NOT NULL,
	[Available] [varchar](50) NOT NULL,
	[Price] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerTb1]    Script Date: 5/17/2026 12:58:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTb1](
	[CustId] [int] NOT NULL,
	[CustName] [varchar](50) NOT NULL,
	[CustAdd] [varchar](50) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalTb1]    Script Date: 5/17/2026 12:58:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalTb1](
	[RentId] [int] NOT NULL,
	[carReg] [varchar](50) NOT NULL,
	[CustName] [varchar](50) NOT NULL,
	[RentDate] [date] NOT NULL,
	[RentFee] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnTb1]    Script Date: 5/17/2026 12:58:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnTb1](
	[ReturnId] [int] NOT NULL,
	[CarReg] [varchar](50) NOT NULL,
	[CustName] [varchar](50) NOT NULL,
	[ReturnDate] [date] NOT NULL,
	[Fine] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTb1]    Script Date: 5/17/2026 12:58:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTb1](
	[Id] [int] NOT NULL,
	[Uname] [varchar](50) NOT NULL,
	[Upass] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
